*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    height: 100vh;
    overflow: hidden;
}
#menu{
    
    margin-left: 10px;
}
#logo{
    height: 32px;
   
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.class{
    
    font-size: 19px;
}
#spider{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 8px;
    margin-top: 5px;
}
.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 217, 217);
    padding: 5px;
}
.left{
    width: 20%;
    height: 100%;
    border-right: 1px solid rgb(223, 217, 217);
}
.line{
    border-bottom: 1px solid rgb(223, 217, 217);
}
.options{
    display: flex;
    padding: 4px;
    padding-left: 10px;
    align-items: center;
    gap: 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;
}
.options:hover{
    background-color: lavender;
    
}
.main{
    display: flex;
    /* background-color: aqua; */
    height: 100%;
    gap: 20px;

}
.right-top{
    
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}
.box{
    height: 240px;
    width: 200px;
    /* background-color: sandybrown; */
    border: 1px solid rgb(205, 193, 193);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

}
.box:hover{
    box-shadow: 5px 5px 15px rgba(112, 113, 109, 0.19);
}
.up{
    height: 33%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjjfQbWMesJOPq9Mj5twQu03cKd6yWV6yRjA&s);
    padding: 8px 8px ;
    color: #fff;
    background-size: cover;
}
.up h3{
    margin-bottom: 30px;
}
.dot{
    display: flex;
    justify-content: space-between;
}
.center{
    width: 70px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    right: 15px;
    top: 45px;
    background-image: url(https://lh3.googleusercontent.com/a-/ALV-UjXJzjrzhEP_DNI5LAhaJiphDYtiwv3USy19rG1cnKmkWG6pr-Y=s40-c);
    background-size: cover;
}
.bottom{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
    border-top: 1px solid rgb(205, 193, 193);
    
}
.footer{
    position: fixed;
    bottom: 18px;
    right: 18px;
    
}